@page "/"
@using WpfBlazorI18nTest.I18nBuilder
@inject WpfBlazorI18nTest.I18nBuilder.Interface.II18nBuilder I18n
<h1>Hello, world!</h1>
Welcome to your new app.
<select @onchange="OnChangeAsync">
    @foreach(var lng in I18n.Laangeuages)
    {
        @if(lng == I18n.CurrentLanguage){
            <option value="@lng" selected>@lng</option>
        }else{
            <option value="@lng">@lng</option>
        }
    }
</select>
<p class="h4">Localise Name</p>
<p>@pageLng.Name</p>
<p class="h4">Localize label</p>
<p>@pageLng.Label</p>


@code {
    Page1 pageLng = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        pageLng = await I18n.CreateTranslationsAsync<Page1>();
    }

    protected async Task OnChangeAsync(ChangeEventArgs e)
    {
        await I18n.ChangeLocalizeAsync(e.Value.ToString());
    }
}